# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\R_dev\springLion\minjeong\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
